#profile_pic {
    width: 15vw; 
}

#profile_name {
    text-align: center;
}

p , span{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9rem;
    font-weight: 200;
}

.tab {
    width: 90%;
    display: inline-block"
}

.study {
    font-weight: 600;
    /* font-weight: bold; */
}

td {
    padding: 0px;
}

th {
    padding: 0px;
}
.project_img {
    width: 100%;
    
}

.project_width_img {
    width: 25%;
}

.project_col {
    padding-left: 1em;
    padding-right: 1em;
    
    
}
.project_col:hover ,.project_col:active {
    background-color: rgba(238, 185, 71, 0.171);
}

.project_img_col {
    width: 50%;
    
}

.project_icon {
    height: 1em;
    margin: 0.2em;
    max-width: 1em;
}

.project_tools {
    font-size: 0.5em;
    width: 35%;
}

.title_inCol {
    font-size: 0.8em; 
    font-weight: bold; 
    margin-top: 0.3em;
    margin-bottom: 0px;
}

.project_title {
    color: black;
    font-size: 1em;
    font-weight: bolder;
}

.project_title:hover {
    font-size: 1em;
    font-weight: bolder;
    color: Crimson;
    font-style: normal;
    text-decoration: underline;
}

.project_descript {
    font-size: 0.8em;
}

.project_link , .links {
    font-size: 0.8em;
    color: rgb(148, 30, 30);
    background-color: rgba(221, 154, 176, 0.219);
    border: 1px;
    border-radius: 10px;
    padding: 2px;
}

.project_link:hover , .project_link:active , .links:hover , .links:active {
    background-color: rgba(124, 64, 167, 0.808);
    font-size: 105%;
    color: white;
    text-decoration: none;
}

.project_tool {
    font-size: 0.7em;
}

.home_link {
    font-size: 0.8em;
    font-weight: normal;
}

.imgshow {
    padding-left: 5%;
    padding-right: 5%;
}